alabaster
attrs
Babel
certifi
chardet
Click
colorama
cycler
dateparser
docutils
future
idna
imagesize
importlib-metadata
itsdangerous
Jinja2
joblib
jsonschema
kiwisolver
lxml
mando
MarkupSafe
matplotlib
more-itertools
mpldatacursor
numpy
packaging
pandas
Pillow
Pint
prim
pydot
Pygments
pyparsing
pyrsistent
pyswmm
python-dateutil
pytz
regex
requests
Rhodium
rst2ansi
salib
scikit-learn
scipy
seaborn
Shapely
six
snowballstemmer
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
swmmtoolbox
tabulate
tstoolbox
tzlocal
urllib3
wincertstore
XlsxWriter
zipp
Platypus-Opt==1.2.0
git+http://github.com/NastaranT/Rhodium@rhodium-swmm-compatibility#egg=rhodium
#pyswmm
